<!DOCTYPE html>
<!--
Licensed to the Apache Software Foundation (ASF) under one
or more contributor license agreements.  See the NOTICE file
distributed with this work for additional information
regarding copyright ownership.  The ASF licenses this file
to you under the Apache License, Version 2.0 (the
"License"); you may not use this file except in compliance
with the License.  You may obtain a copy of the License at
http://www.apache.org/licenses/LICENSE-2.0
Unless required by applicable law or agreed to in writing,
software distributed under the License is distributed on an
"AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
KIND, either express or implied.  See the License for the
specific language governing permissions and limitations
under the License.
-->
<html>
<head>
  <!--
  Customize this policy to fit your own app's needs. For more guidance, see:
  https://github.com/apache/cordova-plugin-whitelist/blob/master/README.md#content-security-policy
  Some notes:
  * gap: is required only on iOS (when using UIWebView) and is needed for JS->native communication
  * https://ssl.gstatic.com is required only on Android and is needed for TalkBack to function properly
  * Disables use of inline scripts in order to mitigate risk of XSS vulnerabilities. To change this:
  * Enable inline JS: add 'unsafe-inline' to default-src
-->
<meta http-equiv="Content-Security-Policy" content="default-src 'self' data: gap: https://ssl.gstatic.com 'unsafe-eval'; style-src 'self' 'unsafe-inline'; media-src *; img-src 'self' data: content:;">
<meta name="format-detection" content="telephone=no">
<meta name="msapplication-tap-highlight" content="no">
<meta name="viewport" content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width">
<link rel="stylesheet" type="text/css" href="css/index.css">
<link rel="stylesheet" href="css/onsenui.css">
<link rel="stylesheet" href="css/onsen-css-components.css">

<script src="js/vue.js"></script>
<script src="js/onsenui.js"></script>
<script src="js/vue-onsenui.js"></script>
<title>VizLife</title>
</head>

<body>
  <!-- <v-ons-page id="login">
  <v-ons-toolbar>
  <div class="center">{{title}}</div>
</v-ons-toolbar>
<v-ons-list>
<v-ons-list-header style="padding-top: 70px;">
</v-ons-list-header>
<v-ons-list-item>
<div>
<v-ons-input type="email" placeholder="email" float v-model="email">
</div>
</v-ons-list-item>
<v-ons-list-item>
<div class="center">
<v-ons-input placeholder="password" type="password" float v-model="password">
</div>
</v-ons-list-item>
</v-ons-list>
<section style="margin: 16px">
<v-ons-row>
<v-ons-col style="margin-right: 10px;">
<v-ons-button @click="login" modifier="large" style="margin: 6px 0">Login</v-ons-button>
</v-ons-col>
<v-ons-col>
<v-ons-button modifier="large outline" style="margin: 6px 0">Sign Up</v-ons-button>
</v-ons-col>
</v-ons-row>
</section>
</v-ons-page> -->

<!-- <div id="ui">
<h1><span>VizLife</span> <button @click="reload()" style="float: right; width: 100px; height: 30px; font-size: 22px;">reload</button></h1>
<ol v-if="permission" >
<div v-if="!loading">
<h3 style="margin-bottom: 0px;">
{{predictions.time}}
</h3>
<li v-for="(value, index) in predictions.label_names">
{{ value }} - {{predictions.label_probs[index]}}
</li>
</div>
<h3 v-else>
loading...
</h3>
</ol>
<p v-else>
no read permission
</p>
</div> -->

<div id="app"></div>
</body>

<!-- Homepage and Dashboard begins here -->
<template id="main">
  <v-ons-page>
    <v-ons-tabbar swipeable position="auto" :tabs="tabs" :visible="true" :index.sync="activeIndex"></v-ons-tabbar>
  </v-ons-page>
</template>


<template id="navigatorTemplate">
  <v-ons-navigator :page-stack="pageStack" @push-page="pageStack.push($event)"></v-ons-navigator>
</template>


<template id="goalsDashboard">
  <v-ons-page>
    <v-ons-toolbar>
      <div class="center">Goals</div>
    </v-ons-toolbar>

    <v-ons-card @click="pushGoalListPage">
      <img src="res/goals.jpg" style="margin:0 auto;display:block;width:60%;"/>
      <div class="title">
        My Goals
      </div>
      <div class="content">
        <v-ons-list>
          <v-ons-list-header>Goal List</v-ons-list-header>
          <v-ons-list-item>Exercising</v-ons-list-item>
          <v-ons-list-item>Work</v-ons-list-item>
          <v-ons-list-item>Sleep</v-ons-list-item>
        </v-ons-list>
      </div>
    </v-ons-card>

  </v-ons-page>
</template>

<template id="reflectionDashboard">
  <v-ons-page>
    <v-ons-toolbar>
      <div class="center">Reflection/Motivation</div>
    </v-ons-toolbar>

    <v-ons-card @click="pushReflectionPage">
      <div class="title">
        Reflection And Motivation
      </div>
      <div class="content">
        <v-ons-list>
          <v-ons-list-header>Improvements</v-ons-list-header>
        </v-ons-list>
      </div>
    </v-ons-card>

  </v-ons-page>
</template>


<template id="dailyDashboard">
  <v-ons-page>
    <v-ons-toolbar>
      <div class="center">Daily Report</div>
    </v-ons-toolbar>

    <v-ons-card @click="pushDailyReportPage">
      <img src="res/report.png" style="margin:0 auto;display:block;width:50%;"/>
      <div class="title">
        My Daily Report
      </div>
      <div class="content">
        <v-ons-list>
          <v-ons-list-header>Calendar</v-ons-list-header>
          <v-ons-list-item>Today</v-ons-list-item>
          <v-ons-list-item>Yesterday</v-ons-list-item>
        </v-ons-list>
      </div>
    </v-ons-card>

  </v-ons-page>
</template>



<!-- Dashboard subpages begins here-->

<!-- Manage Goals page-->
<template id="goalListPage">
  <v-ons-page>
    <v-ons-toolbar>
      <div class="left">
        <v-ons-back-button>Goals</v-ons-back-button>
      </div>
      <div class="center">Edit Goals</div>
    </v-ons-toolbar>
    <p style="text-align: center">
      Click here to add a new goal
      <v-ons-button @click="push">Create</v-ons-button>
    </p>
    <p style="text-align: center">
      Click here to edit/delete an existing goal
      <v-ons-button @click="">Edit/Delete</v-ons-button>
    </p>
  </v-ons-page>
</template>

<!-- add a new goal page -->
<template id="goalCreationPage">
  <v-ons-page>
    <v-ons-toolbar>
      <div class="left">
        <v-ons-back-button>Edit Goals</v-ons-back-button>
      </div>
      <div class="center">Create Goal</div>
    </v-ons-toolbar>
    <p style="text-align: center">Create goal stuff goes here</p>
  </v-ons-page>
</template>

<!-- Reflection Page -->
<template id="reflectionPage">
  <v-ons-page>
    <v-ons-toolbar>
      <div class="left">
        <v-ons-back-button>Reflection/Motivation</v-ons-back-button>
      </div>
      <div class="center">Reflection</div>
    </v-ons-toolbar>
    <p style="text-align: center">Reflection stuff goes here</p>
  </v-ons-page>
</template>


<!-- Daily Report Page -->
<template id="dailyReportPage">
  <v-ons-page>
    <v-ons-toolbar>
      <div class="left">
        <v-ons-back-button>Daily Report</v-ons-back-button>
      </div>
      <div class="center">My Daily Report</div>
    </v-ons-toolbar>
    <p style="text-align: center">Report stuff goes here</p>
  </v-ons-page>
</template>



<!-- Settings page-->
<template id="settings">
  <v-ons-page>
    <v-ons-toolbar>
      <div class="center">Settings</div>
    </v-ons-toolbar>
    <p style="text-align: center">
      Change the settings.
    </p>
  </v-ons-page>
</template>


<script type="text/javascript" src="js/ui.js"></script>
<script type="text/javascript" src="cordova.js"></script>
<script type="text/javascript" src="js/moment.min.js"></script>
<script type="text/javascript" src="js/index.js"></script>

</html>
