<!DOCTYPE html>
<!--
Licensed to the Apache Software Foundation (ASF) under one
or more contributor license agreements.  See the NOTICE file
distributed with this work for additional information
regarding copyright ownership.  The ASF licenses this file
to you under the Apache License, Version 2.0 (the
"License"); you may not use this file except in compliance
with the License.  You may obtain a copy of the License at
http://www.apache.org/licenses/LICENSE-2.0
Unless required by applicable law or agreed to in writing,
software distributed under the License is distributed on an
"AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
KIND, either express or implied.  See the License for the
specific language governing permissions and limitations
under the License.
-->
<html>
<head>
  <!--
  Customize this policy to fit your own app's needs. For more guidance, see:
  https://github.com/apache/cordova-plugin-whitelist/blob/master/README.md#content-security-policy
  Some notes:
  * gap: is required only on iOS (when using UIWebView) and is needed for JS->native communication
  * https://ssl.gstatic.com is required only on Android and is needed for TalkBack to function properly
  * Disables use of inline scripts in order to mitigate risk of XSS vulnerabilities. To change this:
  * Enable inline JS: add 'unsafe-inline' to default-src
-->
<meta charset="utf-8">
<!-- <meta http-equiv="Content-Security-Policy" content="default-src 'self' https://vizlife.herokuapp.com data: gap: https://ssl.gstatic.com 'unsafe-eval'; style-src 'self' 'unsafe-inline' http://fonts.googleapis.com; media-src *"> -->
<meta name="format-detection" content="telephone=no">
<meta name="msapplication-tap-highlight" content="no">
<meta name="viewport" content="initial-scale=1, user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width">
<link rel="stylesheet" type="text/css" href="css/index.css">
<link rel="stylesheet" href="css/onsenui.css">
<link rel="stylesheet" href="css/onsen-css-components.css">
<!-- <link rel="stylesheet" href="css/ionic.css"> -->
<link rel="stylesheet" href="css/app.css">
<link rel="stylesheet" href="css/xcharts.css">
<link rel="stylesheet" type="text/css" href="dist/semantic/semantic.min.css">

<script src="js/Chart.js"></script>
<script src="js/jquery.js"></script>
<script src="dist/semantic/semantic.min.js"></script>
<script src="js/vue.js"></script>
<script src="js/onsenui.js"></script>
<script src="js/vue-onsenui.js"></script>
<title>VizLife</title>
</head>

<body>

  <div id="app"></div>
</body>

<!-- Homepage and Dashboard begins here -->
<template id="main">
  <v-ons-page>
    <v-ons-navigator :page-stack="pageStack" @push-page="pageStack.push($event)"></v-ons-navigator>
  </v-ons-page>
</template>

<template id="tabsTemplate">
  <v-ons-page>
    <v-ons-tabbar swipeable position="auto" :tabs="tabs" @push-page="push($event)" :visible="true" :index.sync="activeIndex"></v-ons-tabbar>
  </v-ons-page>
</template>

<template id="loginPage">
  <v-ons-page>

    <v-ons-toolbar>
      <div class="center">VizLife</div>
    </v-ons-toolbar>

    <v-ons-list>

      <v-ons-list-header>
        {{authMessage}}
      </v-ons-list-header>

      <v-ons-list-item>
        <div>
          <v-ons-input type="email" placeholder="email" autofocus="" float v-model="email">
          </div>
        </v-ons-list-item>
        <v-ons-list-item>
          <div class="center">
            <v-ons-input placeholder="password" type="password" float v-model="password">
            </div>
          </v-ons-list-item>
          <v-ons-list-item :style="{display: (authType == 1 ? '' : 'none')}">
            <div class="center">
              <v-ons-input placeholder="confirm password" type="password" float v-model="confirm">
              </div>
            </v-ons-list-item>

          </v-ons-list>

          <section align="center" style="margin: 16px">
            <v-ons-segment :index.sync="authType" style="width: 75%">
              <button class="button-margin">Login</button>
              <button class="button-margin">Signup</button>
            </v-ons-segment>
          </section>
          <section align="center" style="margin: 16px">
            <v-ons-button @click="submit">Submit</v-ons-button>
          </section>

        </v-ons-page>

      </template>

      <template id="goalsDashboard">
        <v-ons-page>
          <v-ons-toolbar>
            <div class="center">Goals</div>
          </v-ons-toolbar>

          <v-ons-card>
            <img src="res/goals.jpg" style="margin:0 auto;display:block;width:60%;"/>
          </v-ons-card>

          <div class="ui two cards" style="margin-left:0; margin-right:0;">
            <div class="card" v-for="(goal, $index) in goalList">
              <div class="content">
                <i class="right floated star icon"></i>
                <div class="header">{{goal.goal_name}}</div>
                <div class="description">
                  {{goal.category_name}}
                </div>
              </div>

              <div class="extra content">
                <div class="ui two buttons">
                  <div class="ui basic green button" tappable @click = "pushEditGoalPage(goal, goalCategories, $event)">
                    <i class="configure icon icon"></i>
                    Edit
                  </div>
                  <div class="ui basic red button" tappable @click = "deleteGoal(goal.goal_name, $index, $event)">
                    <i class="remove circle icon"></i>
                    Remove
                  </div>
                </div>
              </div>
            </div>

            <div class="card" tappable @click = "pushAddGoalPage">
              <div class="ui vertical animated button" tabindex="0">
                <div class="hidden content">Select goal template</div>
                <div class="visible content">
                  <i class="plus icon"></i>
                  Add a new goal
                </div>
              </div>
            </div>
          </div>
        </v-ons-page>
      </template>

      <!-- goal Create page -->
      <template id="goalCreatePage">
        <v-ons-page>
          <v-ons-toolbar>
            <div class="left">
              <v-ons-back-button> Back </v-ons-back-button>
            </div>
            <div class="center">Add a Goal</div>
          </v-ons-toolbar>
          <v-ons-card>
            <div class="content">
              <div class="ui large middle aligned selection list">
                <div class="item" v-for="(activitySet, index) in activitySetList" :key="activitySet.category_name" tappable>
                  <div class="right floated content">
                    <div class="ui button" @click="pushGoalDetailPage(activitySet, $event)">Add</div>
                  </div>

                  <div class="content">
                    <a class="header">{{activitySet.category_name}}</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </v-ons-card>

      </v-ons-page>
    </template>

    <!-- goal detail page -->
    <template id="goalDetailPage">
      <v-ons-page>
        <v-ons-toolbar>
          <div class="left">
            <v-ons-back-button> Back </v-ons-back-button>
          </div>
          <div class="center">{{goalCategory}}</div>
        </v-ons-toolbar>

        <div class="content">
          <v-ons-list-item>
            <div class="center">
              <v-ons-input placeholder="Input the goal name" float v-model="goalName">
              </v-ons-input>
            </div>
          </v-ons-list-item>
          <v-ons-list-item v-for="(activity, index) in activities" :key="activity" tappable>
            <label class="left">
              <v-ons-checkbox
              :input-id="'checkbox-' + index"
              :value="activity"
              v-model="selectedSet[index]">
              </v-ons-checkbox>
            </label>
            <label class="center" :for="'checkbox-' + index">
            {{ activity }}
            </label>
          </v-ons-list-item>
        <v-ons-list-item>
          <div class="center" style="width: 60%">
            Value: {{ goalValue }}
            <v-ons-range v-model="goalValue" style="width: 100%;"></v-ons-range>
          </div>
        </v-ons-list-item>
        <v-ons-list-item>
          <div class="ui big buttons" style="margin-left: 20%">
            <button class="ui button" @click="getBack">Cancel</button>
            <div class="or"></div>
            <button class="ui positive button" @click="createGoal(goalName, goalCategory, selectedSet, goalValue, $event)">Save</button>
          </div>
        </v-ons-list-item>

      </div>
    </v-ons-page>
  </template>

  <!-- goal edit page -->
  <template id="goalEditPage">
    <v-ons-page>
      <v-ons-toolbar>
        <div class="left">
          <v-ons-back-button> Back </v-ons-back-button>
        </div>
        <div class="center">{{goal.goal_name}}</div>
      </v-ons-toolbar>

      <div class="content">
        <v-ons-list-item>
            <div class="center">
              <v-ons-input placeholder={{goal.goal_name}} float v-model="goal.goal_name">
              </v-ons-input>
            </div>
        </v-ons-list-item>
        <v-ons-list-item v-for="(activity, index) in activitiesAndSelected.activities" :key="activity" tappable>
          <label class="left">
            <v-ons-checkbox
            :input-id="'checkbox-' + index"
            :value="activity"
            v-model="activitiesAndSelected.selectedSet[index]">
          </v-ons-checkbox>
        </label>
        <label class="center" :for="'checkbox-' + index">
          {{ activity }}
        </label>
      </v-ons-list-item>
      <v-ons-list-item>
        <div class="center" style="width: 60%">
          Value: {{ goal.desired_value }}
          <v-ons-range v-model="goal.desired_value" style="width: 100%;"></v-ons-range>
        </div>
      </v-ons-list-item>

      <v-ons-list-item>
        <div class="ui big buttons" style="margin-left: 20%">
          <button class="ui button" @click="getBack">Cancel</button>
          <div class="or"></div>
          <button class="ui positive button" @click="editGoal(goal.goal_name, goal.category_name, activitiesAndSelected, goal.desired_value, $event)">Save</button>
        </div>
      </v-ons-list-item>

    </div>
  </v-ons-page>
</template>



<template id="reflectionDashboard">
  <v-ons-page>

    <v-ons-toolbar>
      <div class="center">Reflection/Motivation</div>
    </v-ons-toolbar>
    <div id="content"></div>

    <v-ons-speed-dial position="bottom right" direction="up"
    :visible="spdVisible"
    :open.sync="spdOpen"
    >
    <v-ons-fab>
      <v-ons-icon icon="md-face"></v-ons-icon>
    </v-ons-fab>

    <v-ons-speed-dial-item v-for="(icon, name) in shareItems"
    @click="$ons.notification.confirm(`Share on ${name}?`)"
    >
    <v-ons-icon :icon="icon"></v-ons-icon>
  </v-ons-speed-dial-item>

</v-ons-speed-dial>

</v-ons-page>
</template>


<template id="dailyDashboard">
  <v-ons-page>
    <v-ons-toolbar>
      <div class="center">Daily Report</div>
    </v-ons-toolbar>

    <v-ons-card @click="pushDailyReportPage">
      <img src="res/report.png" style="margin:0 auto;display:block;width:50%;"/>
      <div class="title">
        My Daily Report
      </div>
      <div class="content">
        <v-ons-list>
          <v-ons-list-header>Calendar</v-ons-list-header>
          <v-ons-list-item>Today</v-ons-list-item>
          <v-ons-list-item>Yesterday</v-ons-list-item>
        </v-ons-list>
      </div>
    </v-ons-card>

  </v-ons-page>

</template>



<!-- Dashboard subpages begins here-->

<!-- Manage Goals page-->
<template id="goalListPage">
  <v-ons-page>
    <v-ons-toolbar>
      <div class="left">
        <v-ons-back-button>Goals</v-ons-back-button>
      </div>
      <div class="center">Edit Goals</div>
    </v-ons-toolbar>
    <p style="text-align: center">
      Click here to add a new goal
      <v-ons-button @click="push">Create</v-ons-button>
    </p>
    <p style="text-align: center">
      Click here to edit/delete an existing goal
      <v-ons-button @click="">Edit/Delete</v-ons-button>
    </p>
  </v-ons-page>
</template>



<!-- Reflection Page -->
<template id="reflectionPage">
  <v-ons-page>
    <v-ons-toolbar>
      <div class="left">
        <v-ons-back-button>Reflection/Motivation</v-ons-back-button>
      </div>
      <div class="center">Reflection</div>
    </v-ons-toolbar>
    <p style="text-align: center">Reflection stuff goes here</p>
  </v-ons-page>
</template>


<!-- Daily Report Page -->
<template id="dailyReportPage">
  <v-ons-page>
    <v-ons-toolbar>
      <div class="left">
        <v-ons-back-button>Daily Report</v-ons-back-button>
      </div>
      <div class="center">My Daily Report</div>
    </v-ons-toolbar>
    <p style="text-align: center">Report stuff goes here</p>
  </v-ons-page>
</template>



<!-- Settings page-->
<template id="settings">
  <v-ons-page>
    <v-ons-toolbar>
      <div class="center">Settings</div>
    </v-ons-toolbar>
    <v-ons-list>
      <v-ons-list-header>Account</v-ons-list-header>

      <v-ons-list-item
      tappable
      @click="$ons.notification.prompt('Reset your password!')"
      >
      <div class="center">
        Password
      </div>
    </v-ons-list-item>

    <v-ons-list-item
    tappable
    @click="$ons.notification.prompt('Reset your username')"
    >
    <div class="center">
      Username
    </div>
  </v-ons-list-item>

  <v-ons-list-header>General</v-ons-list-header>
  <ons-list-item>
    <label class="center" for="switch1">
      Notifications
    </label>
    <div class="right">
      <v-ons-switch input-id="switch1"
      v-model="notification"
      >
    </v-ons-switch>
  </div>
</ons-list-item>

<ons-list-item>
  <label class="center" for="switch2">
    Location
  </label>
  <div class="right">
    <v-ons-switch input-id="switch2"
    v-model="location"
    >
  </v-ons-switch>
</div>
</ons-list-item>

<v-ons-list-item tappable
@click="$ons.notification.prompt('We want your feedback :)')"
>
<div class="center">
  Help & Feedback
</div>
</v-ons-list-item>

<v-ons-list-item tappable
@click="$ons.notification.alert('Our app aims to ...')"
>
<div class="center">
  About
</div>
</v-ons-list-item>

</v-ons-list>

<v-ons-button @click="pushLoginPage" modifier="large" style="position: absolute; bottom: 30%; margin: 6px 0">Log Out</v-ons-button>

</v-ons-page>
</template>

<script type="text/javascript" src="js/moment.min.js"></script>
<script type="text/javascript" src="js/moment-timezone-with-data-2012-2022.min.js"></script>
<script type="text/javascript" src="js/Labels.js"></script>
<script type="text/javascript" src="js/ui.js"></script>
<script type="text/javascript" src="cordova.js"></script>
<script type="text/javascript" src="js/index.js"></script>
<!-- <script src="js/fastclick.js"></script> -->
<script src="js/d3.v3.min.js"></script>
<script src="js/xcharts.js"></script>
<script src="data.js"></script>
<script src="summary.js"></script>

<script src="js/dashboard1.js"></script>
<script src="js/dashboard2.js"></script>
<script src="js/dashboard3.js"></script>
<script src="js/app.js"></script>
</html>
